In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
from os import path
import itertools
import requests
from bs4 import BeautifulSoup
from io import StringIO
from matplotlib.ticker import ScalarFormatter, LogFormatter, LogFormatterExponent, LogFormatterMathtext

In [53]:
def get_word(word):
    word = word.strip()
    word = word.lower()
    word = word.replace(" ", "_")
    first_four = "/".join(word[:5])
    request = requests.get("https://projects.fivethirtyeight.com/reddit-data/{}/{}.csv".format(first_four, word))
    return pd.read_csv(StringIO(request.text))

def get_words(words):
    frames = [get_word(words[0])]
    for word in words[1:]:
        frames.append(get_word(word).ngram_fraction)
    df = pd.concat(frames, axis=1)
    df.columns = ["date"] + [x.strip().replace(" ", "_") for x in words]
    df.set_index("date", inplace=True)
    return df

In [ ]:
data.set_index()

In [26]:
data = get_word("African American")
data.tail()

            date  ngram_fraction
2873  2015-08-27        0.000003
2874  2015-08-28        0.000002
2875  2015-08-29        0.000003
2876  2015-08-30        0.000003
2877  2015-08-31        0.000003

In [27]:
data = get_word("meh")
data.tail()

            date  ngram_fraction
2873  2015-08-27        0.000030
2874  2015-08-28        0.000031
2875  2015-08-29        0.000031
2876  2015-08-30        0.000030
2877  2015-08-31        0.000031

In [54]:
get_words(["African American", "meh"]).tail()

            African_American       meh
date
2015-08-27          0.000003  0.000030
2015-08-28          0.000002  0.000031
2015-08-29          0.000003  0.000031
2015-08-30          0.000003  0.000030
2015-08-31          0.000003  0.000031